:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-lgrey-1: #faf9f9;
    --color-lgrey-2: #f4f2f2;
    --color-lgrey-3: #f0eeee;
    --color-lgrey-4: #ccc;

    --color-dgrey-1: #999;
    --color-dgrey-2: #777;
    --color-dgrey-3: #333;
}

$bp-larger: 1200px;
$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 700px;
$bp-smaller: 500px;