.overview {
    border-bottom: 1px solid var(--color-lgrey-2);
    display: flex;
    align-items: center;

    @media screen and (max-width: $bp-smaller) {
        flex-wrap: wrap;

        & > * {
            flex: 0 1 50%;
            display: flex;
            justify-content: center;
        }
    }

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media screen and (max-width: $bp-smaller) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
            order: 1;
        }
    }

    &__stars {
        margin-right: auto; // VERY USEFUL in flex, when justify-content doesn't do the trick
        display: flex;

        @media screen and (max-width: $bp-smaller) {
            order: 2;
            margin-left: auto;
        }

        &-icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--color-primary);
        }
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;

        &-icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--color-primary);
            margin-right: .5rem;
        }
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $bp-smaller) {
            padding: 0 1.5rem;
            margin-left: 0;
            flex-direction: row;
            justify-content: space-around;
        }

        &-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;

            @media screen and (max-width: $bp-smaller) {
                font-size: 1.8rem;
                margin-bottom: 0;
            }
        }

        &-count {
            font-size: .8rem;
            text-transform: uppercase;
        }
    }
}